{{>header}}
{{>navbar}}
 {{{mensaje}}}
 {{#if inscritos_curso}}
	<p> {{{listarInscritosCurso id_curso inscritos_curso}}} </p>
	<br>
	<img src="data:img/pdf;base64,{{imagen}}" class="img-fluid" >
 {{/if}}
{{>footer}}