<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit-no">

    <!--booststrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <title>Promedio Estudiantes</title>
</head>

<body>
    <div class="container-fluid">
      <h1>{{titulo}}</h1>
      <img src="img/logo.png" width="30%">
    </div>

    <navbar>
        <a href="/">home</a>
        <a href="/crearcurso">crear curso</a>
        <a href="/vercursos">ver cursos</a>
        <a href="/inscribir">inscribir</a>
        <a href="/verinscritos">ver inscritos</a>
    </navbar>
</body>