<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <!--booststrap css-->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/ccs/index.css"     type="text/css">
    <link rel="stylesheet" href="/ccs/style.css"     type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Promedio Estudiantes</title>
</head>

<body>
 
